#lista {
    background-color: black;
    height: 100%;
}

#lista a {
    align-items: center;
    text-decoration: none;
}

.menuIkon {
    color: white;
}

#lista span {
    color: white;
    padding: 0 30px;
}